name: Release MPACK

on:
  workflow_dispatch:
    inputs:
      release_tag:
        description: 'Release tag'
        required: true

jobs:
  create-release:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: git clone
      run: |
        git clone https://${{ secrets.MURGI }}@github.com/mcpebd/mpack.git

    - name: Make ZIP
      run: |
        pushd 'mpack' ; zip -r ../musicpack.zip.mcpack * -x "*.git*" ".github/*" ".gitignore" ; popd

    - name: Upload to release
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        gh release create ${{ github.event.inputs.release_tag }} musicpack.zip.mcpack --title "${{ github.event.inputs.release_tag }}" --notes "Uploaded on $(TZ='Asia/Dhaka' date +'%Y%M%d_%H%M') (UTC +06)" --latest
